.settings/
.project
.classpath
target/
dependency-reduced-pom.xml
pom.xml.versionsBackup
*.log
.vagrant/
/dist/*
*.iml
/.idea
/dist
/tests/unittests/teradata/lib/
/docs_src/_build
/coverage
